* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 100%;
    background-color: lightgray;
    line-height: 60px;
    margin-bottom: 5px;
}

#navigation {
    width: 100%;
    background-color: lightgray;
    line-height: 40px;
    text-align: center;
    margin-bottom: 5px;
}

#header-banner {
    width: 100%;
    background-color: lightgray;
    line-height: 150px;
    text-align: center;
    margin-bottom: 5px;
}

#sidebar-bodyarea {
    width: 100%;
    height: 500px;
    margin-bottom: 5px;
}

#sidebar {
    width: 29%;
    background-color: lightgray;
    line-height: 500px;
    height: 500px;
    text-align: center;
    float: left;
}

#bodyarea {
    width: 70%;
    background-color: lightgray;
    line-height: 500px;
    height: 500px;
    text-align: center;
    float: right;
}

#footer {
    width: 100%;
    background-color: lightgray;
    line-height: 50px;
    text-align: center;
}